<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.m_marvin.eclipsemeta.projectNature"
         name="Meta Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.m_marvin.eclipsemeta.natures.MetaProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.m_marvin.eclipsemeta.viewers.TaskView"
            id="de.m_marvin.eclipsemeta.taskView"
            name="Meta Tasks"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.m_marvin.eclipsemeta.MetaProjects">
      </startup>
   </extension>


</plugin>
