<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.m_marvin.eclipsemeta.projectNature"
         name="Meta Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.m_marvin.eclipsemeta.MetaProjectNature">
         </run>
      </runtime>
   </extension>


</plugin>
