<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.m_marvin.eclipsemeta.metaNature"
         name="Meta Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.m_marvin.eclipsemeta.natures.MetaProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/obj16/meta.png"
            id="de.m_marvin.eclipsemeta.metaNatureImage"
            natureId="de.m_marvin.eclipsemeta.metaNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.m_marvin.eclipsemeta.ui.properties.MetaNaturePropertiesPage"
            icon="icons/obj16/meta.png"
            id="de.m_marvin.eclipsemeta.ui.properties.metaPage"
            name="Meta">
         <filter
               name="nature"
               value="de.m_marvin.eclipsemeta.metaNature">
         </filter>
         <filter
               name="open"
               value="true">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Meta Commands"
            id="de.m_marvin.eclipsemeta.category.meta"
            name="Meta">
      </category>
      <command
            categoryId="de.m_marvin.eclipsemeta.category.meta"
            defaultHandler="de.m_marvin.eclipsemeta.handlers.MetaCommandHandler"
            id="de.m_marvin.eclipsemeta.commands.refreshProject"
            name="Refresh Meta">
      </command>
      <command
            categoryId="de.m_marvin.eclipsemeta.category.meta"
            defaultHandler="de.m_marvin.eclipsemeta.handlers.MetaCommandHandler"
            id="de.m_marvin.eclipsemeta.commands.changeProjectConfig"
            name="Change Active Configuration">
         <commandParameter
               id="configSelection"
               name="Configuration to set as active for the project"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.m_marvin.eclipsemeta.category.meta"
            defaultHandler="de.m_marvin.eclipsemeta.handlers.MetaCommandHandler"
            id="de.m_marvin.eclipsemeta.commands.manageProjectConfigs"
            name="Manage Configurations">
      </command>
      <command
            categoryId="de.m_marvin.eclipsemeta.category.meta"
            defaultHandler="de.m_marvin.eclipsemeta.handlers.MetaCommandHandler"
            id="de.m_marvin.eclipsemeta.commands.refreshDependencies"
            name="Refresh Dependencies">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="de.m_marvin.eclipsemeta.commands.refreshProject"
            icon="icons/obj16/refresh.png">
      </image>
      <image
            commandId="de.m_marvin.eclipsemeta.commands.refreshDependencies"
            icon="icons/obj16/refresh_dependencies.png">
      </image>
      <image
            commandId="de.m_marvin.eclipsemeta.commands.changeProjectConfig"
            icon="icons/obj16/task_configuration_active.png">
      </image>
      <image
            commandId="de.m_marvin.eclipsemeta.commands.manageProjectConfigs"
            icon="icons/obj16/manage_configurations.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/obj16/meta.png"
               id="de.m_marvin.eclipsemeta.menu.projectmenu"
               label="Meta">
            <menu
                  icon="icons/obj16/task_configurations.png"
                  id="de.m_marvin.eclipsemeta.menu.projectmenu.activeconfig"
                  label="Active Configuration ...">
               <command
                     commandId="de.m_marvin.eclipsemeta.commands.manageProjectConfigs"
                     icon="icons/obj16/manage_configurations.png"
                     id="de.m_marvin.eclipsemeta.menu.projectmenu.activeconfig.manageConfigurations"
                     label="Manage Configurations ..."
                     style="push">
               </command>
               <separator
                     name="de.m_marvin.eclipsemeta.menu.seperatorEntries"
                     visible="true">
               </separator>
               <dynamic
                     class="de.m_marvin.eclipsemeta.handlers.ConfigMenuEntryHandler"
                     id="de.m_marvin.eclipsemeta.menu.projectmenu.activeconfig.changeConfigEntries">
               </dynamic>
            </menu>
            <command
                  commandId="de.m_marvin.eclipsemeta.commands.refreshProject"
                  icon="icons/obj16/refresh.png"
                  id="de.m_marvin.eclipsemeta.menu.projectmenu.refreshProject"
                  label="Refresh Meta Project"
                  style="push">
            </command>
            <command
                  commandId="de.m_marvin.eclipsemeta.commands.refreshDependencies"
                  icon="icons/obj16/refresh_dependencies.png"
                  id="de.m_marvin.eclipsemeta.menu.projectmenu.refreshDependencies"
                  label="Refresh Meta Project Dependencies"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="de.m_marvin.eclipsemeta.metaNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.m_marvin.eclipsemeta.categories.meta"
            class="de.m_marvin.eclipsemeta.ui.views.MetaTaskView"
            icon="icons/obj16/meta.png"
            id="de.m_marvin.eclipsemeta.taskView"
            name="Meta Tasks"
            restorable="true">
      </view>
      <category
            id="de.m_marvin.eclipsemeta.categories.meta"
            name="Meta">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="meta"
            id="de.m_marvin.eclipsemeta.content.metaBuildscript"
            name="Meta Buildscript"
            priority="high">
      </content-type>
      <file-association
            content-type="de.m_marvin.eclipsemeta.content.metaBuildscript"
            file-extensions="meta">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.m_marvin.eclipsemeta.ui.editors.BuildscriptEditor"
            default="true"
            icon="icons/obj16/meta_file.png"
            id="de.m_marvin.eclipsemeta.editor.metaBuildscriptEditor"
            name="Meta Buildscript Editor">
      </editor>
      <editorContentTypeBinding
            contentTypeId="de.m_marvin.eclipsemeta.content.metaBuildscript"
            editorId="de.m_marvin.eclipsemeta.editor.metaBuildscriptEditor">
      </editorContentTypeBinding>
   </extension>


</plugin>
